<div class="bg-color-sky-light">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Contacto</h2>
                    <p>Contratame</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="row">
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h5>Localización</h5>
                        <a href="https://www.google.com.co/maps/place/Neiva,+Huila/@2.9377046,-75.307408,13z/data=!3m1!4b1!4m5!3m4!1s0x8e3b747c5a6b4009:0x69acf162bb25539a!8m2!3d2.9344837!4d-75.2809001?hl=es-419"
                            target="_bank">Neiva, Huila, Colombia</a>
                    </div>
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h5>Teléfono</h5>
                        <a href="tel:3043838939">+57 304 383 8939</a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h5>Email</h5>
                        <a href="mailto:jl.ps2289@gmail.com">jl.ps2289@gmail.com</a>
                        <a href="mailto:jl.ps@hotmail.com">jl.ps@hotmail.com</a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h5>Telegram</h5>
                        <a href="https://t.me/jochelo2289" target="_bank">@jochelo2289</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>