<div class="bg-color-sky-light">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Contacto</h2>
                    <p>Contratame</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="row">
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h5>Localización</h5>
                        Neiva, Huila, Colombia
                    </div>
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h5>Teléfono</h5>
                        <a href="tel:3043838939">+57 304 383 8939</a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h5>Email</h5>
                        <a href="mailto:jl.ps2289@gmail.com">jl.ps2289@gmail.com</a>
                        <a href="mailto:jl.ps@hotmail.com">jl.ps@hotmail.com</a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h5>Telegram</h5>
                        <a href="https://t.me/jochelo2289" target="_bank">@jochelo2289</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>