<div class="bg-color-sky-light">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Contacto</h2>
                    <p>Contratame</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="row">
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h5>Localización</h5>
                        {{ app.config?.contact.city }}
                    </div>
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h5>Teléfono</h5>
                        <ul class="list-unstyled">
                            <li *ngFor="let tel of app.config?.contact.phone">
                                <a [href]="'tel:' + tel">{{ tel }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h5>Email</h5>
                        <ul class="list-unstyled">
                            <li *ngFor="let email of app.config?.contact.email">
                                <a [href]="'mailto:' + email">{{ email }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h5>Telegram</h5>
                        <a [href]="app.config?.social[2].url" target="_bank">{{ app.config?.social[2].nick }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>