<div class="container content-lg">
  <div class="row">
    <div class="col-sm-3 sm-margin-b-30">
      <div class="text-right sm-text-left">
        <h2 class="margin-b-0">Intro</h2>
        <p>Quien soy yo?</p>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <div class="margin-b-60">
        <p>Soy una persona organizada que cumple con las labores y requerimientos que se le exigen, capaz de liderar y solucionar
          problemas rápidamente.</p>
        <p>Poseo valores como la responsabilidad y el trabajo en equipo.</p>
        <p>Me considero una persona con una alta facilidad de absorber conocimientos teóricos y prácticos, poseo conocimientos
          básicos en sistemas y en herramientas
          <b>Office, Suite Adobe, Affinity</b> entre otros programas de diseño, edición de imagenes, audio y video.</p>
        <p>Tengo conocimientos avanzados en lenguaje
          <b>HTML5, CSS3, SCSS, Javascript y TypeScript</b>. Uso framework como
          <b>Bootstrap y Angular</b>.</p>
        <p>Mis herramientas de trabajo son
          <b>Sublime Text, Visual Studio y VSCode</b>.</p>
        <p>Tengo facilidades para la comunicación y la atención al usuario.</p>
      </div>

      <!-- Progress Box -->
      <jp-progress-bar leng="HTML5" [porc]="91"></jp-progress-bar>
      <jp-progress-bar leng="CSS / SCSS" [porc]="93"></jp-progress-bar>
      <jp-progress-bar leng="Typescript / JavaSript" [porc]="87"></jp-progress-bar>
      <jp-progress-bar leng="Bootstrap" [porc]="98"></jp-progress-bar>
      <jp-progress-bar leng="Angular" [porc]="89"></jp-progress-bar>
    </div>
  </div>
</div>