<header class="header navbar-fixed-top">
  <!-- Navbar -->
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="menu-container js_nav-item">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="toggle-icon"></span>
        </button>

        <!-- Logo -->
        <div class="logo">
          <a class="logo-wrap" href="#body">
            <img class="logo-img logo-img-main" src="assets/img/logo.svg" alt="jl.ps">
            <img class="logo-img logo-img-active" src="assets/img/logo-dark.svg" alt="jl.ps">
          </a>
        </div>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav navbar-nav-right">
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#body">Home</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#about">About</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#experience">Experiencia</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#work">Portafolio</a>
            </li>
            <li class="js_nav-item nav-item">
              <a class="nav-item-child nav-item-hover" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>