<div class="promo-block parallax-window" data-parallax="scroll" data-image-src="assets/img/1920x1080/_01.jpg">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="promo-block-divider">
                  <h1 class="promo-block-title">Jose Luis <br/> <b class="color-base">Parra Sánchez</b></h1>
                  <p class="promo-block-text">Web Designer, MEAN Stack &amp; Front-end Developer</p>
              </div>
              <ul class="list-inline">
                  <li><a href="https://www.facebook.com/Jochelo2289" target="_bank" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                  <li><a href="https://twitter.com/Jochelo2289" target="_bank" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/jochelo2289" target="_bank" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>