<div class="bg-color-sky-light" data-auto-height="true">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Experiencia</h2>
                    <p>Los conocimientos de diseño gráfico, web y el manejo de los programas de edición de texto los he adquirido
                        a través del aprendizaje autónomo y mi experiencia laboral.</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="row row-space-2 margin-b-4">
                    <div class="col-md-4 md-margin-b-4">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-mustache"></i>
                            </div>
                            <div class="service-info">
                                <h3>Laboral</h3>
                                <p class="margin-b-5">Trabajé como diseñador gráfico por 6 años y como desarrollador front-end llevo {{ experiencia }} años experiencia.</p>
                            </div>
                            <!-- <a href="#" class="content-wrapper-link"></a> -->
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-b-4">
                        <div class="service bg-color-base wow" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service-element">
                                <i class="service-icon color-white icon-screen-desktop"></i>
                            </div>
                            <div class="service-info">
                                <h3 class="color-white">Académica</h3>
                                <p class="color-white margin-b-5">Constantemente tomo cursos en plataformas como Youtube, Udemy, SENA Virtual, entre otros...</p>
                            </div>
                            <!-- <a href="#" class="content-wrapper-link"></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-chemistry"></i>
                            </div>
                            <div class="service-info">
                                <h3>Front-end</h3>
                                <p class="margin-b-5">Mi experiencia en el diseño gráfico me ha permitido tomar esos conocimientos y aplicarlos a desarrollo web.</p>
                            </div>
                            <!-- <a href="#" class="content-wrapper-link"></a> -->
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!--// end row -->
    </div>
</div>